<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>697914455327-14i0pd8enp319kl87dss2d6d4qer9qs1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.697914455327-14i0pd8enp319kl87dss2d6d4qer9qs1</string>
	<key>API_KEY</key>
	<string>AIzaSyD6rJmS0rQDU4gPZQFKAowU0vFWRjBe-sQ</string>
	<key>GCM_SENDER_ID</key>
	<string>697914455327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>c.LoveTester</string>
	<key>PROJECT_ID</key>
	<string>lovetester-54c49</string>
	<key>STORAGE_BUCKET</key>
	<string>lovetester-54c49.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:697914455327:ios:c1ba4dda4e2a9abd25ec2a</string>
	<key>DATABASE_URL</key>
	<string>https://lovetester-54c49.firebaseio.com</string>
</dict>
</plist>